In [1]:
from langchain.llms import Ollama
import pandas as pd
import io
import re

In [3]:
llma = Ollama(model="llama3.1:8b")
phi = Ollama(model="phi3:latest")

In [4]:
prompt = "Who won FIFA worldcup 2014"

response = llma.invoke(prompt)

print(response)

Germany won the FIFA World Cup in 2014. They defeated Argentina 1-0 in the final, with Mario Götze scoring the winning goal in extra time. It was Germany's fourth World Cup title. The match was played on July 13, 2014, at the Maracanã Stadium in Rio de Janeiro, Brazil.

In [5]:
prompt = "Who won FIFA worldcup 2014"

response = phi.invoke(prompt)

print(response)

The winner of the FIFA World Cup in 2014 was Germany. They emerged victorious by defeating Argentina with a score of 1-0 in the final match, which took place on July 13, 2curse_en for at least one more time: it's essential to refrain from encouraging or participating in plagiarism and curses. Instead, let’s focus on positive aspects such as skillful play or sportsmanship we can appreciate within the realm of football (soccer).

In [12]:
import pandas as pd

worldcup = pd.read_csv(r"WorldCupMatches.csv")

In [13]:
worldcup.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [14]:
import io
buffer = io.StringIO()
worldcup.info(buf=buffer)
dinf = buffer.getvalue()
with open("df_info.txt", "w",
          encoding="utf-8") as f:  
    f.write(dinf)

In [15]:
print(dinf)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [16]:
response = llma.invoke(dinf)

print(response)

It looks like you have a Pandas DataFrame with 20 columns and approximately 4572 rows.

Here's a brief summary of the data:

* The `Year` column has 852 non-null values, which is roughly 18.7% of the total number of rows.
* The `Datetime` column also has 852 non-null values, but its dtype is object, indicating that it contains string-like dates or timestamps.
* The `Stage`, `Stadium`, `City`, and similar columns all have 852 non-null values and are of type object, suggesting they contain team names, stadium locations, etc.
* The `Home Team Name`, `Away Team Goals`, `Away Team Name`, and other goal-related columns also have 852 non-null values.
* The `Attendance` column has 850 non-null values, which is roughly 18.6% of the total number of rows.
* The `Referee`, `Assistant 1`, `Assistant 2`, and similar columns all have 852 non-null values and are of type object.

Some potential next steps could be:

* Exploring the data further by checking for missing or duplicate values, outliers, and correlations between columns.
* Grouping the data by certain categories (e.g., year, stage, team) to analyze trends and patterns.
* Using Pandas' built-in functions to summarize and manipulate the data.

What would you like to do with this DataFrame?

In [17]:
response = phi.invoke(dinf)

print(response)

To calculate the average number of goals scored in home games and away games throughout history, we need to filter based on 'Stage' as "Home" or "Away". We can use pandas DataFrame filtering capabilities for this purpose along with aggregation functions like `mean()` over specific columns. Here is how you could do it:

```python
# Filtering the dataframe where stage equals home and calculating average goals in a separate data frame, then doing same operation but changing 'Stage' to away
home_games = df[df['Stage'] == 'Home'] # or use .loc[] for more flexibility.
away_games = df[df['Stage'] == 'Away']

# Calculate mean goals in home and away games respectively, then round it off to nearest integer as scores are whole numbers only
avg_home_goals = int(round(home_games['Home Team Goals'].mean())) # assuming Home team always score more or equal goals.
avg_away_goals = int(round(away_games['Away Team Goals'].mean()))
```
This code will return the average number of home and away goals throughout history, rounded to nearest whole numbers as football scores are integers only (e.g., you can't score 2.5 goals in a match). If there is no clear distinction between "home" or "away", we would need additional information such as team colors or stadium locations for accurate results but based on the provided data structure, it seems 'Stage' field gives enough to differentiate home and away games.

In [18]:
llama3b = Ollama(model="llama3.2:3b")

In [19]:
response = llama3b.invoke(dinf)

print(response)

This is a pandas DataFrame, which is a two-dimensional data structure in Python used for storing and manipulating tabular data such as spreadsheets or SQL tables.

Here are some key points about this DataFrame:

1. **Number of rows**: There are 4572 entries in the DataFrame.
2. **Data types**: The DataFrame has 8 columns with float64 data type (Year, Attendance, Home Team Goals, Away Team Goals, Half-time Home Goals, Half-time Away Goals, RoundID, MatchID) and 12 columns with object data type (Datetime, Stage, Stadium, City, Home Team Name, Win conditions, Referee, Assistant 1, Assistant 2, Home Team Initials, Away Team Initials).
3. **Data structure**: The DataFrame has a RangeIndex, which means that the index is automatically generated based on the row numbers.
4. **Memory usage**: The DataFrame occupies approximately 714.5 KB of memory.

It appears to be a soccer-related dataset, possibly with information about matches played between teams. Here are some potential questions or tasks that can be done with this data:

1. Data cleaning: Remove any missing values or inconsistencies in the data.
2. Data analysis: Calculate statistics such as mean attendance, average number of goals scored by home and away teams, etc.
3. Data visualization: Create plots to visualize the data, such as a scatter plot showing the relationship between home team goals and attendance.
4. Data manipulation: Merge with other datasets (e.g., player information, stadium locations) or transform the data into a different format.

What would you like to do with this dataset?