In [1]:
from langchain.llms import Ollama

In [2]:
llm = Ollama(model="llama3.1:8b")

C:\Users\hasso\AppData\Local\Temp\ipykernel_34692\1421045254.py:1: LangChainDeprecationWarning: The class `Ollama` was deprecated in LangChain 0.3.1 and will be removed in 1.0.0. An updated version of the class exists in the :class:`~langchain-ollama package and should be used instead. To use it run `pip install -U :class:`~langchain-ollama` and import as `from :class:`~langchain_ollama import OllamaLLM``.
  llm = Ollama(model="llama3.1:8b")

In [ ]:
prompt = "Who won FIFA worldcup 2014"

response = llm.invoke(prompt)

print(response)

Germany won the FIFA World Cup in 2014. They defeated Argentina 1-0 in the final, with Mario Götze scoring the winning goal in extra time. This was Germany's fourth World Cup title. The match took place on July 13, 2014, at the Maracanã Stadium in Rio de Janeiro, Brazil.

In [2]:
import pandas as pd

worldcup = pd.read_csv(r"WorldCupMatches.csv")

In [14]:
worldcup.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [21]:
import io
buffer = io.StringIO()
worldcup.info(buf=buffer)
dinf = buffer.getvalue()
with open("df_info.txt", "w",
          encoding="utf-8") as f:  
    f.write(dinf)

In [23]:
print(dinf)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [24]:
response = llm.invoke(dinf)

print(response)

It looks like you have a Pandas DataFrame with 4572 entries and 20 columns.

Here's a brief summary:

* The data appears to be related to soccer matches, with columns for things like:
	+ Match details (year, datetime, stage)
	+ Team information (home team name, away team name, etc.)
	+ Goals scored (half-time and full-time)
	+ Referees and assistant referees
	+ Miscellaneous info (attendance, round ID, match ID)
* There are 8 float64 columns for numerical data and 12 object columns for categorical or string data.
* The memory usage is approximately 714.5 KB.

What would you like to do with this DataFrame? Would you like to perform some analysis, create a visualization, or something else?

In [ ]:
def summerizer (dataframe):
    buffer = io.StringIO()
    dataframe.info(buf=buffer)
    data_info = buffer.getvalue()
    with open("df_info.txt", "w",
            encoding="utf-8") as f:  
        f.write(data_info)
    summary = llm.invoke(f"summarize{dinf}")
    return print(summary)

In [30]:
thesummary=summerizer(worldcup)

It looks like you have a Pandas DataFrame with information about soccer matches, containing various data such as the year of the match, home and away teams' names, goals scored, stadiums, cities, referees, and more.

Here are some potential insights or questions that could be explored based on this dataset:

1. **Home and Away Team Performance**: Analyze the average number of goals scored by home and away teams, including their performance in different stages (e.g., group stage, knockout stage).
2. **Referee Bias**: Investigate if there are any differences in refereeing decisions or attendance when certain referees officiate matches.
3. **Attendance Analysis**: Examine how attendance varies across different stadiums, cities, or stages of the tournament.
4. **Team Strength**: Calculate team strength scores based on their performance (e.g., goals scored, allowed) and analyze their progression through the tournament.
5. **Home Advantage**: Investigate whether teams have an advantage playing at home, considering factors like attendance, crowd support, and match outcomes.

Some potential Pandas operations to perform on this dataset include:

1. `groupby` and aggregation (e.g., averaging, summing) to analyze team performance or match characteristics.
2. `merge` with other datasets (if available) for additional insights, such as player stats, team standings, or weather conditions during matches.
3. Data visualization using libraries like Matplotlib, Seaborn, or Plotly to create informative and engaging plots for different subsets of the data.

What specific analysis or questions would you like to explore with this dataset?

In [32]:
response2 = llm.invoke(f"{dinf} \n create a code to clear the nulls from the columns that needs to, knowing the dataframe name is worldcup")

print(response2)

You can use the `dropna()` function in pandas to remove rows with missing values (nulls). Since you want to drop nulls from specific columns, you can pass a subset of column names to the `subset` parameter.

Here's how you can do it:

```python
# Assuming 'worldcup' is your DataFrame

# Drop rows where Attendance is null
worldcup.dropna(subset=['Attendance'], inplace=True)

# Alternatively, drop rows where multiple columns are null
null_columns = ['Year', 'Half-time Home Goals']
worldcup.dropna(subset=null_columns, inplace=True)
```

If you want to clear the nulls from all numeric columns (which in your case include `Home Team Goals`, `Away Team Goals`, etc.), you can use a loop:

```python
# Clear nulls from numeric columns
numeric_cols = worldcup.select_dtypes(include=['float64']).columns.tolist()
worldcup.dropna(subset=numeric_cols, inplace=True)
```

Note that the `inplace=True` parameter modifies the original DataFrame. If you want to keep the original DataFrame unchanged, remove this parameter or assign the result back to the original DataFrame (`worldcup = worldcup.dropna(...)`)

In [33]:
response2

"You can use the `dropna()` function in pandas to remove rows with missing values (nulls). Since you want to drop nulls from specific columns, you can pass a subset of column names to the `subset` parameter.\n\nHere's how you can do it:\n\n```python\n# Assuming 'worldcup' is your DataFrame\n\n# Drop rows where Attendance is null\nworldcup.dropna(subset=['Attendance'], inplace=True)\n\n# Alternatively, drop rows where multiple columns are null\nnull_columns = ['Year', 'Half-time Home Goals']\nworldcup.dropna(subset=null_columns, inplace=True)\n```\n\nIf you want to clear the nulls from all numeric columns (which in your case include `Home Team Goals`, `Away Team Goals`, etc.), you can use a loop:\n\n```python\n# Clear nulls from numeric columns\nnumeric_cols = worldcup.select_dtypes(include=['float64']).columns.tolist()\nworldcup.dropna(subset=numeric_cols, inplace=True)\n```\n\nNote that the `inplace=True` parameter modifies the original DataFrame. If you want to keep the original DataFrame unchanged, remove this parameter or assign the result back to the original DataFrame (`worldcup = worldcup.dropna(...)`)"

In [52]:
import re
def extract_code(input) :
    result = re.search(r'```.*?\n(.*?)\n```', input, re.DOTALL)
    result = result.group(1) if result else input
    return result

In [56]:
dropping_nulls_code = extract_code(response2)

In [57]:
print(dropping_nulls_code)

# Assuming 'worldcup' is your DataFrame

# Drop rows where Attendance is null
worldcup.dropna(subset=['Attendance'], inplace=True)

# Alternatively, drop rows where multiple columns are null
null_columns = ['Year', 'Half-time Home Goals']
worldcup.dropna(subset=null_columns, inplace=True)

In [58]:
exec(dropping_nulls_code)

In [59]:
worldcup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 850 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  850 non-null    float64
 1   Datetime              850 non-null    object
 2   Stage                 850 non-null    object
 3   Stadium               850 non-null    object
 4   City                  850 non-null    object
 5   Home Team Name        850 non-null    object
 6   Home Team Goals       850 non-null    float64
 7   Away Team Goals       850 non-null    float64
 8   Away Team Name        850 non-null    object
 9   Win conditions        850 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  850 non-null    float64
 12  Half-time Away Goals  850 non-null    float64
 13  Referee               850 non-null    object
 14  Assistant 1           850 non-null    object
 15  Assistant 2           850 non-null    object
 16  RoundID               850 non-null    float64
 17  MatchID               850 non-null    float64
 18  Home Team Initials    850 non-null    object
 19  Away Team Initials    850 non-null    object
dtypes: float64(8), object(12)
memory usage: 139.5+ KB

In [ ]:
def nulldrop (dataframe):
    response2 = llm.invoke(f"{dinf} \n create a code to clear the nulls from the columns that needs to, knowing the dataframe name is worldcup")
    def extract_code(input) :
        result = re.search(r'```.*?\n(.*?)\n```', input, re.DOTALL)
        result = result.group(1) if result else input
        return result
    dropping_nulls_code = extract_code(response2)
    exec(dropping_nulls_code)
    return print(dataframe.info())